
body{
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: #15182b79;
    color: #d6fffd;
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 12%;
}

footer{
    bottom: 0px;
    background-color: #dbdbdbb9;
    color: #101010;
    text-align: center;
    height: 15%;
    clear:left;
}

.imgblock > img {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: block;
}
.imgblock{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section.container{
    background-color: #202020a8;
    width: 100%;
    height: 73%;
    margin-left: auto;
    margin-right: auto;
}
#left-control{
    background-color : #ffffff00;
    position: absolute;
    left:0;
    width: 20%;
    height: 71%;
}
#left-control:hover{
    background-color: #ffffff7a;
}
#right-control{
    background-color : #ffffff00;
    position: absolute;
    right: 0;
    width: 20%;
    height: 71%;
}
#right-control:hover{
    background-color: #ffffff7a;
}